<h2>7日分の投稿数</h2>
<table class="table table-bordered">
  <thead>
   <tr>
    <th scope="col">6日前</th>
    <th scope="col">5日前</th>
    <th scope="col">4日前</th>
    <th scope="col">3日前</th>
    <th scope="col">2日前</th>
    <th scope="col">1日前</th>
    <th scope="col">今日</th>
   </tr>
  </thead>
  <tbody>
   <tr>
    <td><%= @books_6daysago.count %></td>
    <td><%= @books_5daysago.count %></td>
    <td><%= @books_4daysago.count %></td>
    <td><%= @books_3daysago.count %></td>
    <td><%= @books_2daysago.count %></td>
    <td><%= @books_yesterday.count %></td>
    <td><%= @books_today.count %></td>
   </tr>
  </tbody>
</table>


<canvas id="myLineChart"></canvas>
  <script>
    $(document).on('turbolinks:load', function() {
      var ctx = document.getElementById("myLineChart");
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
          datasets: [
            {
              label: '投稿した本の数',
        data: [<%= @books_6daysago.count %>, <%= @books_5daysago.count %>, <%= @books_4daysago.count %>, <%= @books_3daysago.count %>, <%= @books_2daysago.count %>, <%= @books_yesterday.count %> ,<%= @books_today.count %>],
              borderColor: "rgba(0,0,255,1)",
              backgroundColor: "rgba(0,0,0,0)"
            }
          ],
        },
        options: {
          title: {
            display: true,
            text: '7日間の投稿数の比較'
          },
          scales: {
            yAxes: [{
              ticks: {
                suggestedMax: 10,
                suggestedMin: 0,
                stepSize: 1,
                callback: function(value, index, values){
                  return  value
                }
              }
            }]
          },
        }
      });
    });

</script>