<div class="left-button">
</div>
<h4 class="rooms-title">チャットメンバー</h4>
<% @members.each do |e| %>
  <div class="user-name">
    <%= attachment_image_tag(e.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
      <a class="rooms-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.name %>さん
      </a>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if @chats.present? %>
      <% @chats.each do |m| %>
          <div class="chat-hukidashi"> <strong><%= m.message %></strong> <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_with model: @chat, do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
  <%= f.submit "送信",class: 'form-submit'%>
  </div>
  </div>